http:
  routers:
    frontend-react:
      rule: (Host(`woodkilldev.com`) || Host(`www.woodkilldev.com`)) && PathPrefix(`/`) && !PathPrefix(`/api`)
      entryPoints:
        - websecure
      middlewares:
        - security-headers
      tls:
        certResolver: le-staging
      service: frontend-react
    frontend-http-react:
      rule: (Host(`woodkilldev.com`) || Host(`www.woodkilldev.com`)) && PathPrefix(`/`)
      entryPoints:
        - web
      middlewares:
        - redirect-to-https
      service: noop@internal
    api:
      rule: Host(`woodkilldev.com`) && PathPrefix(`/api`)
      priority: 100
      entryPoints:
        - websecure
      middlewares:
        - security-headers
        - rate-limit
        - retry
      tls:
        certResolver: le-staging
      service: api
  services:
    frontend-react:
      loadBalancer:
        servers:
          - url: http://react-app:8080
    api:
      loadBalancer:
        servers:
          - url: http://backend:5001
  middlewares:
    redirect-to-https:
      redirectScheme:
        scheme: https
        port: 443
        permanent: true
    security-headers:
      headers:
        stsSeconds: 31536000
        stsIncludeSubdomains: true
        stsPreload: true
        frameDeny: true
        contentTypeNosniff: true
        browserXssFilter: true
        referrerPolicy: "no-referrer-when-downgrade"
        customResponseHeaders:
          X-Frame-Options: "DENY"
          X-Content-Type-Options: "nosniff"
          X-XSS-Protection: "1; mode=block"
    rate-limit:
      rateLimit:
        average: 100
        burst: 50
    retry:
      retry:
        attempts: 3
        initialInterval: 100ms
