http:
  routers:
    frontend-react:
      rule: (Host(`${WEBSITE_DOMAIN}`) || Host(`www.${WEBSITE_DOMAIN}`)) && PathPrefix(`/`) && !PathPrefix(`/api`)
      entryPoints:
        - websecure
      middlewares:
        - security-headers
      tls:
        certResolver: le-staging
      service: frontend-react
    frontend-http-react:
      rule: (Host(`${WEBSITE_DOMAIN}`) || Host(`www.${WEBSITE_DOMAIN}`)) && PathPrefix(`/`)
      entryPoints:
        - web
      middlewares:
        - redirect-to-https
      service: noop@internal
    api:
      rule: Host(`${WEBSITE_DOMAIN}`) && PathPrefix(`/api`)
      priority: 100
      entryPoints:
        - websecure
      middlewares:
        - security-headers
        - rate-limit
        - retry
      tls:
        certResolver: le-staging
      service: api

    traefik-dashboard:
      rule: Host(`${TRAEFIK_DNS_LABEL}.${WEBSITE_DOMAIN}`)
      entryPoints:
        - websecure
      middlewares:
        - security-headers
        - traefik-basic-auth
      tls:
        certResolver: le-staging
      service: api@internal

    pgadmin:
      rule: Host(`${PGADMIN_DNS_LABEL}.${WEBSITE_DOMAIN}`)
      entryPoints:
        - websecure
      middlewares:
        - security-headers
        - traefik-basic-auth
        - pgadmin-allow-ip
      tls:
        certResolver: le-staging
      service: pgadmin
  services:
    frontend-react:
      loadBalancer:
        servers:
          - url: http://react-app:8080
    api:
      loadBalancer:
        servers:
          - url: http://backend:5001
    pgadmin:
      loadBalancer:
        servers:
          - url: http://pgadmin:8080
  middlewares:
    redirect-to-https:
      redirectScheme:
        scheme: https
        port: 443
        permanent: true
    security-headers:
      headers:
        stsSeconds: 31536000
        stsIncludeSubdomains: true
        stsPreload: true
        frameDeny: true
        contentTypeNosniff: true
        browserXssFilter: true
        referrerPolicy: "no-referrer-when-downgrade"
        customResponseHeaders:
          X-Frame-Options: "DENY"
          X-Content-Type-Options: "nosniff"
          X-XSS-Protection: "1; mode=block"
    traefik-basic-auth:
      basicAuth:
        # Provide one or more htpasswd-formatted entries via env: "user:hash"
        users:
          - ${TRAEFIK_DASH_BASIC_USERS}
    pgadmin-allow-ip:
      ipAllowList:
        sourceRange:
          - ${PGADMIN_ALLOWLIST}
    rate-limit:
      rateLimit:
        average: 100
        burst: 50
    retry:
      retry:
        attempts: 3
        initialInterval: 100ms
