# Traefik Configuration File
# Environment variable support for dynamic configuration

# Entry points configuration
entryPoints:
  web:
    address: ':${TRAEFIK_PORT}'
    http:
      # https://docs.traefik.io/routing/entrypoints/#entrypoint
      redirections:
        entryPoint:
          to: web-secure
          # scheme: https # all will redirect to https

  web-secure:
    # https
    address: ":443"

  # API and dashboard entrypoint (Traefik v3 uses 'traefik' as the internal name)
  traefik:
    address: ':${TRAEFIK_API_PORT}'

# API and Dashboard
api:
  dashboard: true
  insecure: true
  debug: true

# Ping health check
ping: {}

# Log configuration
log:
  level: '${TRAEFIK_LOG_LEVEL}'
  filePath: '/var/log/traefik/traefik.log'
  format: json

# Access logs
accessLog:
  filePath: '/var/log/traefik/access.log'
  format: json
  bufferingSize: 100

certificatesResolvers:
  letsencrypt:
    # https://docs.traefik.io/master/https/acme/#lets-encrypt
    acme:
      email: '${TRAEFIK_CERT_EMAIL}'
      storage: /etc/traefik/acme/acme.json
      # https://docs.traefik.io/master/https/acme/#httpchallenge
      httpChallenge:
        entryPoint: web
      dnsChallenge:
        provider: digitalocean
        # delayBeforeCheck: 0
      caServer: https://acme-staging-v02.api.letsencrypt.org/directory
      # caServer: https://acme-v02.api.letsencrypt.org/directory

# Providers configuration
providers:
  docker:
    endpoint: 'unix:///var/run/docker.sock'
    exposedByDefault: ${TRAEFIK_EXPOSED_BY_DEFAULT}
    network: '${TRAEFIK_DOCKER_NETWORK}'
    watch: true

# providers:
#   # https://docs.traefik.io/master/providers/file/
#   file:
#     filename: /etc/traefik/dynamic.yml
#     # filename: /etc/traefik/traefik.yml
#     watch: true