# Traefik Configuration File
# Environment variable support for dynamic configuration

# Entry points configuration

entryPoints:
  web:
    address: ':${TRAEFIK_PORT}'
    http:
      # https://docs.traefik.io/routing/entrypoints/#entrypoint
      redirections:
        entryPoint:
          to: websecure
          # scheme: https # all will redirect to https

  websecure:
    # https
    address: ":443"
  traefik:
    address: ':${TRAEFIK_API_PORT}'

# Dashboard disabled to avoid duplicate 'api' key conflicts
# api:
#   dashboard: true
#   insecure: false
#   debug: true

# Ping health check
ping: {}

# Log configuration
log:
  level: '${TRAEFIK_LOG_LEVEL}'
  filePath: '/var/log/traefik/traefik.log'
  format: json

# Access logs
accessLog:
  filePath: '/var/log/traefik/access.log'
  format: json
  bufferingSize: 100


certificatesResolvers:
  le-staging:
    acme:
      email: '${TRAEFIK_CERT_EMAIL}'
      storage: /etc/traefik/acme/acme-staging.json
      caServer: https://acme-staging-v02.api.letsencrypt.org/directory
      httpChallenge:
        entryPoint: web
      # dnsChallenge:
      #   provider: digitalocean
      #   # delayBeforeCheck: 0
      # caServer: https://acme-staging-v02.api.letsencrypt.org/directory
      # # caServer: https://acme-v02.api.letsencrypt.org/directory

# Providers configuration
providers:
  docker:
    endpoint: 'unix:///var/run/docker.sock'
    exposedByDefault: ${TRAEFIK_EXPOSED_BY_DEFAULT}
    network: '${TRAEFIK_DOCKER_NETWORK}'
    watch: true

# providers:
#   # https://docs.traefik.io/master/providers/file/
#   file:
#     filename: /etc/traefik/dynamic.yml
#     # filename: /etc/traefik/traefik.yml
#     watch: true